<table class="reservations-table">
  <thead>
    <tr>
      <th>日時</th>
      <th>顧客名</th>
      <th>犬名</th>
      <th>電話</th>
      <th>送迎</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |r| %>
      <tr>
        <td>
          <div class="reservation-datetime">
            <span class="reservation-date"><%= r.reserved_date %></span>
            <span class="reservation-time"><%= r.reserved_time %></span>
          </div>
        </td>

        <td class="customer-name">
          <div class="cell-with-icon">
            <i class="bi bi-person"></i>
            <%= r.customer&.owner_name %>
          </div>
        </td>

        <td>
          <div class="cell-with-icon">
            <i class="fa-solid fa-dog"></i>
            <%= r.customer&.dog_name %>
          </div>
        </td>

        <td>
          <div class="cell-with-icon">
            <i class="bi bi-telephone"></i>
            <%= r.customer&.phone_number %>
          </div>
        </td>

        <td>
          <span class="pickup-badge <%= r.pickup_required ? 'on' : 'off' %>">
            <%= r.pickup_required ? "送迎あり" : "送迎なし" %>
          </span>
        </td>

        <td class="action-buttons">
          <%= link_to edit_reservation_path(r.id),
          data: { turbo: false },
          class: "icon-btn edit-btn" do %>
          <i class="bi bi-pencil"></i>
        <% end %>

        

          <%= button_to destroy_reservation_path(r.id),
            method: :delete,
            data: { confirm: "この予約を削除しますか？" },
            class: "icon-btn delete-btn" do %>
            <i class="bi bi-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>