<div class="confirm-page">

  <div class="confirm-card">

  <h2><i class="fa-regular fa-calendar"></i> ご予約内容</h2>

  <!-- 日付 -->
  <div class="complete-box date-box">
    <div class="label">
      <i class="fa-regular fa-clock"></i> ご予約日時
    </div>
    <div class="value">
      <%= @date %><br>
      <span class="time"><%= @time %></span>
    </div>
  </div>

  <!-- サービス -->
  <div class="complete-box service-box">
    <div class="label">
      <i class="fa-regular fa-clipboard"></i> ご利用サービス
      </div>
    <div class="value">
      <%= @service_labels[@reservation_data["service_type"]] %>
    </div>
  </div>

  <!-- 飼い主 -->
  <div class="info-row">
    <div>
      <span><i class="fa-regular fa-user"></i> お名前</span>
      <p><%= @reservation_data["owner_name"] %></p>
    </div>
    <div>
      <span><i class="fa-solid fa-phone"></i> 電話番号</span>
      <p><%= @reservation_data["phone_number"] %></p>
    </div>
  </div>

  <!-- わんちゃん -->
  <div class="info-row">
    <div>
      <span><i class="fa-solid fa-dog"></i> 名前</span>
      <p><%= @reservation_data["dog_name"] %></p>
    </div>
    <div>
      <span><i class="fa-solid fa-cake-candles"></i> 年齢</span>
      <p><%= @reservation_data["dog_age"] %></p>
    </div>
  </div>

  <div class="info-row">
    <div>
      <span><i class="fa-solid fa-venus-mars"></i> 性別</span>
      <p><%= @reservation_data["dog_gender"] %></p>
    </div>
    <div>
      <span><i class="fa-solid fa-paw"></i> 犬種</span>
      <p><%= @reservation_data["dog_breed"] %></p>
    </div>
  </div>

  <!-- その他 -->
  <div class="info-row">
    <div>
      <span><i class="fa-solid fa-bullhorn"></i> 来店きっかけ</span>
      <p><%= @reservation_data["referral_source"] %></p>
    </div>
    <div>
      <span><i class="fa-solid fa-car"></i> 送迎</span>
      <p><%= @reservation_data["pickup_required"] == "true" || @reservation_data["pickup_required"] == true ? "あり" : "なし" %></p>
    </div>
  </div>

  <!-- 住所 -->
  <div class="info-row">
    <div style="width:100%">
      <span><i class="fa-solid fa-location-dot"></i> 住所</span>
      <p><%= @reservation_data["address"] %></p>
    </div>
  </div>

  <!-- ボタン -->
  <%= form_with url: reservations_complete_path, method: :post do %>

    <%= hidden_field_tag :date, @date %>
    <%= hidden_field_tag :time, @time %>

    <% @reservation_data.each do |k,v| %>
      <%= hidden_field_tag "reservation[#{k}]", v %>
    <% end %>

    <div class="submit-area">
      <%= submit_tag "予約を確定する", class: "confirm-button" %>
    </div>

  <% end %>

</div>

    

  </div>

</div>