<div class="confirm-page">

  <div class="page-header">
    <div class="header-inner">
      <h1>
        <i class="fa-regular fa-calendar"></i>
        予約空き状況確認
        </h1>
        <p>ご希望の日時を選択してください</p>
    </div>
  </div>
  <div class="confirm-card">
    <h2>ご予約者情報</h2>

    <%= form_with model: @reservation, url: reservations_index_path, method: :get do |f| %>
      <div class="confirm-form">

        <div class="form-group">
          <label class="label-inner">
            <i class="fa-regular fa-user"></i>
            飼い主様のお名前 <span class="required">*</span>
          </label>
          <%= f.text_field :owner_name %>
        </div>

        <div class="form-group">
          <label class="label-inner">
            <i class="fa-solid fa-phone"></i>
            電話番号 <span class="required">*</span>
          </label>
          <%= f.text_field :phone_number %>
        </div>

        <div class="form-group">
          <label class="label-inner">
            <i class="fa-solid fa-dog"></i>
            わんちゃんのお名前 <span class="required">*</span>
          </label>
          <%= f.text_field :dog_name %>
        </div>

        <div class="form-group">
          <label class="label-inner">
            <i class="fa-regular fa-calendar"></i>
            わんちゃんの年齢 <span class="required">*</span>
          </label>
          <%= f.text_field :dog_age %>
        </div>

        <div class="form-group">
          <label class="label-inner">
            <i class="fa-solid fa-venus-mars"></i>
            わんちゃんの性別 <span class="required">*</span>
          </label>
          <%= f.select :dog_gender, ["オス", "メス"], {}, class: "form-select" %>
        </div>

        <div class="form-group">
          <label class="label-inner">
            <i class="fa-solid fa-paw"></i>
            犬種 <span class="required">*</span>
          </label>
          <%= f.text_field :dog_breed %>
        </div>

        <div class="form-group">
          <label class="label-inner">
            <i class="fa-regular fa-clipboard"></i>
            希望サービス <span class="required">*</span>
          </label>
          <%= f.select :service_type, [
            ["犬の幼稚園", "kindergarten"],
            ["保育園", "nursery"],
            ["ホテル", "hotel"],
            ["一時預かり", "temporary_care"]
          ] %>
        </div>

        <div class="form-group">
          <label class="label-inner">
            <i class="fa-solid fa-bullhorn"></i>  
            当店を知ったきっかけ <span class="required">*</span>
          </label>
          <%= f.text_field :referral_source %>
        </div>

        <div class="form-group full-width">
          <label class="label-inner">
            <i class="fa-solid fa-location-dot"></i>
            住所
          </label>
          <%= f.text_field :address %>
        </div>

        <div class="form-group full-width">
          <label class="label-inner">
            <i class="fa-solid fa-car"></i>
            送迎希望
          </label>
          <%= f.select :pickup_required, [["なし", false], ["あり", true]] %>
        </div>

      </div>

      <div class="full-width">
        <%= f.submit "日時選択へ進む", class: "confirm-button" %>
      </div>

    <% end %>
  </div>
</div>