<!-- app/views/reservations/index.html.erb -->

<div class="reservation-page">
  <div class="reservation-container"> 
  <%= form_with url: reservations_confirm_path, method: :post, local: true, data: { turbo: false } do |f| %>

  <div class="main-layout">

    <!-- カレンダー -->
    <div class="calendar-panel">
      <div class="calendar-header">
        <%= link_to "‹",
          reservations_index_path(
            year: @prev_month.year,
            month: @prev_month.month,
            reservation: @reservation_data
          ),
          class: "month-arrow" %>

        <h2><%= @selected_date.strftime("%Y年 %-m月") %></h2>

        <%= link_to "›",
          reservations_index_path(
            year: @next_month.year,
            month: @next_month.month,
            reservation: @reservation_data
          ),
          class: "month-arrow" %>
      </div>

      <div class="weekday-row">
        <div>日</div>
        <div>月</div>
        <div>火</div>
        <div>水</div>
        <div>木</div>
        <div>金</div>
        <div>土</div>
      </div>

      <div class="calendar-grid">
        <% @start_wday.times do %>
          <div></div>
        <% end %>

        <% @days.each do |day| %>
          <% date = Date.new(@selected_date.year, @selected_date.month, day) %>

          <%= link_to reservations_index_path(
            year: date.year,
            month: date.month,
            day: day,
            reservation: @reservation_data
          ), class: "day-link" do %>
            <div class="day
              <%= 'selected-day' if day == @selected_date.day %>
              <%= 'today' if date == Date.today %>">
              <%= day %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="calendar-legend">
        <div class="legend-item">
          <span class="legend-box today"></span>
            本日
          </div>
          <div class="legend-item">
            <span class="legend-box full"></span>
            満席
          </div>
        </div>
    </div>
    

    <!-- 空き状況 -->
    <div class="slots-panel">
      <h2>空き状況</h2>
      <p><%= @selected_date.strftime("%Y年%-m月%-d日") %></p>

      <% @time_slots.each do |slot| %>
        <% disabled = slot[:available] == 0 %>

        <% if disabled %>
          <div class="slot disabled">
            <div class="slot-content">
              <div class="slot-left">
                <i class="fa-regular fa-clock"></i>
                <span><%= slot[:value] %></span>
              </div>

              <div class="slot-right">
                <div class="slot-people">
                  <i class="fa-solid fa-user"></i>
                  <span><%= slot[:available] %>/<%= slot[:total] %></span>
                </div>

                <% if slot[:available] == 0 %>
                  <span class="badge full">満席</span>
                <% elsif slot[:available] == 1 %>
                  <span class="badge low">残りわずか</span>
                <% else %>
                  <span class="badge ok">空きあり</span>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <%= link_to reservations_index_path(
            year: @selected_date.year,
            month: @selected_date.month,
            day: @selected_date.day,
            time: slot[:value],
            reservation: @reservation_data
          ), class: "slot-link" do %>

            <div class="slot
              <%= 'selected-slot' if @selected_time == slot[:value] %>">

              <div class="slot-content">
                <div class="slot-left">
                  <i class="fa-regular fa-clock"></i>
                  <span><%= slot[:value] %></span>
                </div>

                <div class="slot-right">
                  <div class="slot-people">
                    <i class="fa-solid fa-user"></i>
                    <span><%= slot[:available] %>/<%= slot[:total] %></span>
                  </div>

                  <% if slot[:available] == 1 %>
                    <span class="badge low">残りわずか</span>
                  <% else %>
                    <span class="badge ok">空きあり</span>
                  <% end %>
                </div>
              </div>

            </div>
          <% end %>
        <% end %>
      <% end %>
      
    </div>
  
  </div>
  <div class="bottom-button">



    <%= hidden_field_tag :date, @selected_date %>
    <%= hidden_field_tag :time, @selected_time&.split(" - ")&.first %>

    <% @reservation_data.each do |k,v| %>
      <%= hidden_field_tag "reservation[#{k}]", v %>
    <% end %>

    <%= f.submit "予約確認へ進む", class: "confirm-button" %>

  </div>

  <% end %>
  </div>
</div>